<%- layout("layouts/boilerplate") %>
<div class="row col-md-6 col-xl-4 offset-md-3 offset-xl-4">
    <div class="card shadow p-3">
        <h1 class="text-center">Register</h1>
        <form action="/register" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="valid-feedback">Looks good!</div>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="submit">Register</button>
            </div>
        </form>
    </div>
</div>
